---
import AppFrancoQuizLayout from "../../layouts/AppFrancoQuizLayout.astro";
---

<AppFrancoQuizLayout>
    <h1>FrancoQuiz</h1>
    <p>This is our FrancoQuiz.</p>
    <a href="/">Back to Home</a>
</AppFrancoQuizLayout>
