<html lang="en">
    <head>
        <title>FrancoQuiz</title>
    </head>
    <body>
        <h1>FrancoQuiz</h1>
        <p>This is our FrancoQuiz.</p>
        <a href="/">Back to Home</a>
    </body>
</html>
