---
import AppFrancoQuizLayout from "../../layouts/AppFrancoQuizLayout.astro";
---

<AppFrancoQuizLayout>
    <h1>Terms & Conditions</h1>
    <p>This is our termas & conditions.</p>
    <a href="/">Back to Home</a>
</AppFrancoQuizLayout>
