@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar';

/* Default light mode colors */
@theme {
    --color-navbar: oklch(0.64 0.1756 260.55);
    --color-navbar-dark: oklch(0.34 0.1083 260.4);
    --color-navbar-dropdown-bg: oklch(0.8 0.0191 258.36);
    --color-navbar-dropdown-bg-dark: oklch(0.31 0 none);
    --color-navbar-dropdown-bg-500: oklch(0.72 0.0184 256.31);
    --color-navbar-dropdown-bg-500-dark: oklch(0.24 0.0015 17.27);
    --color-navbar-menu-text: oklch(0.26 0.0048 248.01);
    --color-navbar-menu-text-dark: oklch(0.85 0.0064 255.48);
    --color-navbar-menu-text-hover: oklch(0.17 0.0016 197);
    --color-navbar-menu-text-hover-dark: oklch(0.99 0.0021 197.12);
    --color-navbar-menu-text-active: oklch(0.99 0.0021 197.12);
    --color-navbar-menu-text-active-dark: oklch(0.17 0.0016 197);
    --color-navbar-menu-bg-active: oklch(0.17 0.0016 197);
    --color-navbar-menu-bg-active-dark: oklch(0.99 0.0021 197.12);
    --color-navbar-menu-bg-hover: oklch(0.72 0.0184 256.31);
    --color-navbar-menu-bg-hover-dark: oklch(0.45 0 none);

    --color-tabbar-primary: oklch(0.39 0.1808 315.76);
    --color-tabbar-primary-dark: oklch(0.46 0.1774 0.54);
    --color-tabbar-hover-primary: oklch(0.55 0.0912 318.23);
    --color-tabbar-hover-primary-dark: oklch(0.64 0.0642 348.8);

    --color-surface: oklch(0.81 0.0143 258.35);
    --color-surface-dark: oklch(0.34 0.0081 255.55);
    --color-on-surface: oklch(0.34 0.0081 255.55);
    --color-on-surface-dark: oklch(0.81 0.0143 258.35);
}