---
import AppFrancoQuizLayoutFR from "../../../layouts/AppFrancoQuizLayoutFR.astro";
---

<AppFrancoQuizLayoutFR>
    <h1>FrancoQuiz FR</h1>
    <p>This is our FrancoQuiz.</p>
    <a href="/">Back to Home</a>
</AppFrancoQuizLayoutFR>
