---
import AppFrancoQuizLayoutFR from "../../../layouts/AppFrancoQuizLayoutFR.astro";
---

<AppFrancoQuizLayoutFR>
    <html lang="en">
        <head>
            <meta
                http-equiv="refresh"
                content="0;url=/francoquiz/francoquiz/"
            />
            <title>Redirecting...</title>
        </head>
        <body>
            <p>
                Redirecting to <a href="/francoquiz/francoquiz/"
                ></a>/francoquiz/francoquiz/
            </p>...</body
        >
    </html>
</AppFrancoQuizLayoutFR>
