---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <html lang="en">
        <head>
            <title>Contact</title>
        </head>
        <body>
            <h1>Contact</h1>
            <p>TODO.</p>
            <a href="/">Back to Home</a>
        </body>
    </html>
</Layout>
