---
import Layout from "../layouts/Layout.astro";
import AppCard from "../components/AppCard.astro";
import checkItLogo from "../assets/applis/checkit.png";
import francoQuizLogo from "../assets/applis/francoquiz.png";
---

<Layout title="Pierre Mollard">
	<div class="flex flex-grow items-center justify-center w-full">
		<div
			class="w-full max-w-4xl bg-blue-200 p-4 rounded-2xl shadow-lg bg-opacity-40 backdrop-blur-lg"
		>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				<AppCard
					title="Check-It"
					description="Create daily objective then track and follow them."
					logo={checkItLogo.src}
					link="/check-it/check-it"
					color="black"
				/>
				<AppCard
					title="FrancoQuiz"
					description="Learn France geography through different quiz."
					logo={francoQuizLogo.src}
					link="/francoquiz/francoquiz"
					color="blue"
				/>
			</div>
		</div>
	</div>
</Layout>
