---
export interface Props {
    title: string;
    back: string;
    content: any;
}
const { title, back, content: Content } = Astro.props;
---

<div class="pb-3w-full pb-3">
    <!-- Centered content area with margin on sides -->
    <div
        class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pb-4 border-b border-on-surface-weak dark:border-on-surface-weak-dark"
    >
        <div class="m-4">
            <div
                class="prose max-w-none
                       prose-img:rounded-xl
                       prose-p:text-justify
                       prose-p:text-md-text dark:prose-p:text-md-text-dark
                       prose-h1:text-md-heading dark:prose-h1:text-md-heading-dark
                       prose-h2:text-md-heading dark:prose-h2:text-md-heading-dark
                       prose-h3:text-md-heading dark:prose-h3:text-md-heading-dark
                       prose-h4:text-md-heading dark:prose-h4:text-md-heading-dark
                       prose-a:text-md-link dark:prose-a:text-md-link-dark
                       prose-a:hover:text-md-link-hover dark:prose-a:hover:text-md-link-hover-dark
                       prose-li:marker:text-md-bullet dark:prose-li:marker:text-md-bullet-dark
                       prose-blockquote:text-md-blockquote-border dark:prose-blockquote:text-md-blockquote-border-dark
                       prose-strong:text-md-strong dark:prose-strong:text-md-strong-dark
                       prose-"
            >
                <h1>{title}</h1>
                <Content />
            </div>

            <a href="/">{back}</a>
        </div>
    </div>
</div>
