<html lang="en">
    <head>
        <title>Check-It</title>
    </head>
    <body>
        <h1>Check-I</h1>
        <p>This is our Check-I.</p>
        <a href="/">Back to Home</a>
    </body>
</html>
