---
import AppCheckItLayout from "../../layouts/AppCheckItLayout.astro";
---

<AppCheckItLayout>
    <h1>Check-It</h1>
    <p>This is our Check-It.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayout>
