---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Delete Account">
    <html lang="en">
        <head>
            <title>Delete Account</title>
        </head>
        <body>
            <h1>Delete Account</h1>
            <p>TODO.</p>
            <a href="/">Back to Home</a>
        </body>
    </html>
</Layout>
