<html lang="en">
    <head>
        <meta http-equiv="refresh" content="0;url=/check-it/check-it/" />
        <title>Redirecting...</title>
    </head>
    <body>
        <p>
            Redirecting to <a href="/check-it/check-it/"></a>/check-it/check-it/
        </p>...</body
    >
</html>
