---
import AppCheckItLayout from "../../layouts/AppCheckItLayout.astro";
---

<AppCheckItLayout>
    <h1>Terms & Conditions</h1>
    <p>This is our termas & conditions.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayout>
