<html lang="en">
    <head>
        <title>Terms & Conditions</title>
    </head>
    <body>
        <h1>Terms & Conditions</h1>
        <p>This is our termas & conditions.</p>
        <a href="/">Back to Home</a>
    </body>
</html>
