---
import AppCheckItLayoutFR from "../../../layouts/AppCheckItLayoutFR.astro";
---

<AppCheckItLayoutFR>
    <h1>Check-It FR</h1>
    <p>This is our Check-It.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayoutFR>
