---
import AppCheckItLayoutFR from "../../../layouts/AppCheckItLayoutFR.astro";
---

<AppCheckItLayoutFR>
    <h1>Delete Account FR</h1>
    <p>TODO.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayoutFR>
