---
import AppCheckItLayoutFR from "../../../layouts/AppCheckItLayoutFR.astro";
---

<AppCheckItLayoutFR>
    <h1>Privacy Policy FR</h1>
    <p>This is our privacy policy.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayoutFR>
