---
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Terms & Conditions">
    <h1>Terms & Conditions FR</h1>
    <p>This is our termas & conditions.</p>
    <a href="/">Back to Home</a>
</Layout>
