---
import AppCheckItLayoutFR from "../../../layouts/AppCheckItLayoutFR.astro";
---

<AppCheckItLayoutFR>
    <h1>Terms & Conditions FR</h1>
    <p>This is our termas & conditions.</p>
    <a href="/">Back to Home</a>
</AppCheckItLayoutFR>
