---
import "../styles/global.css";
import AppNavBar, { type SpecificLink } from "../components/AppNavBar.astro";
import Layout from "./Layout.astro";

const links: SpecificLink[] = [
	{ name: "Présentation", href: "/check-it/check-it", key: "Presentation" },
	{
		name: "Politique de Confidentialité",
		href: "/check-it/privacy-policy",
		key: "Privacy",
	},
	{
		name: "Conditions Générales",
		href: "/check-it/terms-conditions",
		key: "Terms",
	},
	{
		name: "Supprimer votre compte",
		href: "/check-it/delete-account",
		key: "Delete",
	},
];
---

<Layout title="Check-It" lang="fr">
	<AppNavBar links={links} />
	<main class="flex-grow w-full flex flex-col">
		<slot />
	</main>
</Layout>
