---
import "../styles/global.css";
import AppNavBar, { type SpecificLink } from "../components/AppNavBar.astro";
import Layout from "./Layout.astro";

const links: SpecificLink[] = [
	{ name: "Presentation", href: "/francoquiz/francoquiz" },
	{ name: "Privacy Policy", href: "/francoquiz/privacy-policy" },
	{ name: "Terms & Conditions", href: "/francoquiz/terms-conditions" },
];
---

<Layout title="FrancoQuiz">
	<AppNavBar links={links} />
	<main class="flex-grow w-full flex flex-col">
		<slot />
	</main>
</Layout>
