---
import AppNeonCuberLayoutFR from "../../../layouts/AppNeonCuberLayoutFR.astro";
---

<AppNeonCuberLayoutFR>
    <html lang="en">
        <head>
            <meta
                http-equiv="refresh"
                content="0;url=/neoncuber/neoncuber/"
            />
            <title>Redirecting...</title>
        </head>
        <body>
            <p>
                Redirecting to <a href="/neoncuber/neoncuber/"
                ></a>/neoncuber/neoncuber/
            </p>...</body
        >
    </html>
</AppNeonCuberLayoutFR>
